*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}
.label {
  display: block;
  margin-bottom: 5px;
}

.line-labe{
  display: inline-block
}

.pad-div{
  margin-top : 5px;
  margin-bottom : 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='checkbox'],
input[type='radio']{
  padding: 10px;
  margin: 10px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #003d82;
}

.nav{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.nav-link{
  text-decoration: none;
  color: black;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: lightskyblue;

}
